.btn-badge{
    background: none;
    border: none;
    position: relative;
    top: 30%;
    font-size: 40px/2;
    margin-top: 40px/4;
    transition: all 0.25s ease;

}
.chip{
	padding: 8px 10px;
	/* border-radius: 10px; */
    border: none;
	font-weight: 600;
	font-size: 12px;
	/* box-shadow: 0 2px 5px rgba(0,0,0,.25); */
	margin: 0 10px;
	cursor: pointer;
}

.chip.primary{
	background: none;
	color: black;
}
.chip.primary::before,
.chip.primary::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    transition: all 0.25s ease;
    border-radius: 60px*.5;
}

.chip.primary::before {
    transition-duration: 0.5s;
    box-shadow: inset 0 0 0 2px #00b4d8;
    border-radius: 50px;
}

.chip:hover::before {
    box-shadow: inset 0 0 0 60px #00b4d8;
    border-radius: 50px;
    fill: white;
}

.chip.secondary{
	background: #242933;
	color: #777;
}

.chip.warning{
	background:#FEB904;
	color: whitesmoke;
}
.chip.danger{
	background: #DA605B;
	color: whitesmoke;
}

.chip.info{
	background: #5FD6D4;
	color: whitesmoke;
}