a,
p,
h1,
h2,
h3,
h4,
h5,
button,
label,
span,
tr,
th,
td,
select,
option {
    font-family: 'Poppins', sans-serif;
}


/* inputs */



/* Botones de Guardar */
.boton-submit {
    position: relative;
    padding: .5em 2em;
    left: 0;
    right: 0;
    margin: 0 45%;
    /* bottom: 15px; */
    font-size: 14px;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #e9ecef;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.15s ease 0s;
    cursor: pointer;
    outline: none;
   }
   
   .boton-submit:hover {
    background-color: #2EE59D;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color: #fff;
    transform: translateY(-7px);
   }
   
   .boton-submit:active {
    transform: translateY(-1px);
   }


/* buscador */
.buscador{
  display: block;
  width: 400px;
}

/* .buscadorEstatus{
  display: flex;
} */

.buscador form{
  position: relative;
  top: 50%;
  left: 0;
  transform: translate(0%, -50%);
  transition: all .5s;
  width: 50px;
  height: 50px;
  background: white;
  box-sizing: border-box;
  border-radius: 25px;
  border: none;
  padding: 5px;
}

.buscador input{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;;
  height: 50px;
  line-height: 30px;
  outline: 0;
  border: 1px solid #4f5d75;
  display: block;
  font-size: 1.3em;
  border-radius: 60px;
  padding: 0 20px;
  /* background: #ccdbdc90; */
}

.buscador .fa{
  box-sizing: border-box;
  padding: 5px;
  width: 50px;
  height: 50px;
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 50%;
  background: #4f5d75;
  color: #fff;
  text-align: center;
  vertical-align: middle;
  font-size: 1.7em;
  transition: all .1s;
}
.btn-clean{
  margin: 0 10px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #90caf9;
  border: none;
}

.fa-vc{line-height:inherit!important;}



.buscador form:hover,
.buscador form:valid{
  width: 400px;
  cursor: pointer;
}

.buscador form:hover ~  svg{
  
  top: 10px;
}


.buscador form:hover input,
.buscador form:valid input{
  display: block;
  /* background: #878f9b; */
  color: #000;
}
.buscador input:focus{
  display: block;
}

/* icono de search */
.buscador form:hover .fa,
.buscador form:valid .fa{
  background: #4f5d75;
  color: white;
  /* background: red; */
}

.form__select{
  display: flex;
  position: relative;
  width: 300px;
  top: 3px;
}
.form__select svg{
  position: relative;
  margin-right: 8px;
  top: 10px;
}


.card-accordion{
  /* border: 1px solid b;  */
  border-radius: 12px;
  background: #f5f3f4;
  border: 1px solid #dee2e6;
  margin-bottom: 0rem;
}

.btn-acordion{
  background: red;
  border: none;
  background: #f5f3f4;
  width: 1500px;
  height: 50px;
  font-size: 17px;
  text-align: left;
  margin-top: 0;
}


/* estilo del select  */
/* .form__select select{
  appearance: none;
}

.form__select{
  max-width: 250px;
  position: relative;
}

.form__select select{
  background: red;
  text-decoration: none;
  border: 0; */
  /* display: inline-block;
  width: 100%;
  cursor: pointer;
  padding: 7px 10px;
  height: 50px;
  outline: 0;
  border: 0;
  border-radius: 0;
  background: #f0f0f0;
  color: #7b7b7b;
  font-size: 1.7em;
  color: #999;
  border: 2px solid rgba(0,0,0,0.2);
  border-radius: 50px;
  position: relative; */
/* } */
