.card-body {
    /* display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center; */
}

.carousel-inner {
    /* align-content: center; */
    /* justify-content: center; */
    /* align-items: center; */
    /* margin-left: 7px; */
}

.container {
    display: flex;
    /* flex-wrap: wrap; */
    width: 100%;
    padding: 0;
    /* flex-direction: column; */
}

.container-button {
    height: 520px;
    width: calc(100% - 1100px);
    margin-left: 10px;
    /* margin: 0; */
    /* background: white; */
    /* box-shadow: 0px 0px 10px 1px #c8d3fd; */
    /* padding: auto; */
    /* padding-bottom: 15px; */
    border-radius: 10px;
    /* margin: 5px 5px 5px 4px; */
    /* overflow: auto; */
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    justify-content: space-around;
}

.progres-container {
    height: 520px;
    width: 425px;
    background: white;
    box-shadow: 0px 0px 10px 1px #c8d3fd;
    padding: 8px;
    padding-bottom: 15px;
    border-radius: 10px;
    margin: 5px 5px 0px 4px;
    overflow: auto;
}

.bar-container {
    position: relative;
    padding: 4px 0;
}

.progres-bar {
    width: 91%;
    /* margin: 0 30px 0 5px; */
    border-radius: 30px;
    padding: 2px;
    box-shadow: 0px 0px 10px 1px #c8d3fd;
    margin-right: 2000px;
}

.complete-bar {
    /* background-color: #75c059; */
    height: 20px;
    border-radius: 30px;

}

.bar-success {
    background: linear-gradient(90deg, rgba(188, 236, 170, 1) 0%, rgba(117, 192, 89, 1) 49%, rgba(117, 192, 89, 1) 100%);
}

.bar-incomplete {
    background: linear-gradient(90deg, rgba(255, 237, 146, 1) 0%, rgba(255, 215, 18, 1) 49%, rgba(255, 215, 18, 1) 100%);
}

.bar-wrong {
    background: linear-gradient(90deg, rgba(247, 173, 168, 1) 0%, rgba(238, 96, 85, 1) 49%, rgba(238, 96, 85, 1) 100%);
}

.progres-container p {
    position: absolute;
}

.progres-container .texto-objetivo {
    position: relative;
    font-size: 12px;
    margin-bottom: 5px;
}

.texto-meta {
    font-size: 20px;
    right: 0;
}

.texto-valor {
    left: 50%;
    font-weight: bold !important;
}

.card-body span {
    color: black;
    fill: black;
    box-shadow: 0px 0px 10px 1px #c8d3fd;
    border-radius: 30px;
    padding: 20px;
    background-color: #ced4da;
}

.btn-metas {
    width: 43%;
    border: none;
    border-radius: 30px;
    box-shadow: 0px 0px 10px 1px #c8d3fd;
    margin-top: 5px;
}

.carousel {
    text-align: center;
}


/* From uiverse.io by @alexruix */
.card-home {
    width: 190px;
    height: 100px;
    margin-bottom: 30px;
    position: relative;
    /* background: #a2d2ff; */
    transition: box-shadow .3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    border-radius: 20px;
}
.end{
    margin-bottom: 0;
}

.card-img {
    position: absolute;
    height: 100px;
    width: 240px;
    padding-top: 6px;
    /* align-items: center; */
    /* justify-content: center; */
    color: black;
    font-size: 30px;
    text-align: center;
    background-color: #a2d2ff;
    border-radius: 10px;
    box-shadow: 10px 3px 5px#c8d3fd;
    /* float: right; */
}

.usuarios {
    /* fill: #116f8b; */
    width: 70px;
    height: 70px;
    position: absolute;
    left: 10px;
    top: 13px;
    opacity: .7;
}
.carreras{
    /* fill: #126d89; */
    width: 70px;
    height: 70px;
    position: absolute;
    left: 10px;
    top: 13px;
    opacity: .7;  
}
.evaluadores{
    /* fill: #409079; */
    width: 70px;
    height: 70px;
    position: absolute;
    left: 10px;
    top: 12px;
    opacity: .7;
}

.encuestas{
    /* fill: #5c9c72; */
    width: 70px;
    height: 70px;
    position: absolute;
    left: 10px;
    top: 13px;
    opacity: .7;
}

.card-info {
    position: absolute;
    width: 100%;
    bottom: 0;
    padding: 1rem;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}
.text-title{
    transform: translateY(50%);
    transition: all .3s ease-in-out;
}
.text-title-evaluadores{
    transform: translateY(60%);
    transition: all .3s ease-in-out;
}
.text-cent{
    transform: translateY(50%);
    transition: all .3s ease-in-out;
}
.card-icon {
    opacity: 0;
    transform: translateX(20%) translateY(45%);
    width: 1.5em;
    height: 1.5em;
    transition: all .3s ease-in-out;
}

.card-home p {
    line-height: 140%;
}

.text-cent {
    position: absolute;
    right: 5px;
    top: 25px;
    width: 40%;
    z-index: 4000;
    text-align: center;
}

.text-title {
    font-weight: 900;
    font-size: 18px;
    position: relative;
    text-align: end;
    padding-right: 10px;
    color: black;
    width: 40%;
    text-align: end;
    position: absolute;
    top: 3px;
    right: 5px;
    z-index: 4000;
}
.text-title-evaluadores {
    font-weight: 900;
    font-size: 18px;
    position: relative;
    text-align: end;
    padding-right: 10px;
    color: black;
    width: 40%;
    text-align: end;
    position: absolute;
    top: 3px;
    right: 5px;
    z-index: 4000;
}

.text-subtitle {
    color: black;
    font-weight: 500;
    font-size: 16px;
    position: absolute;
    bottom: -10px;
    right: 0px;
    opacity: 0;
    transform: translateX(-70%) translateY(-13%);
    transition: all .3s ease-in-out;
}

/*Hover*/
.card-home:hover {
    box-shadow: 0 10px 20px 4px rgba(35, 35, 35, .1);
    cursor: pointer;
}

.card-home:hover .card-icon {
    opacity: 1;
    transform: translateX(180%) translateY(45%);
}

.card-home:hover .text-subtitle {
    opacity: 1;
    transform: translateX(5%) translateY(-13%);
}

.card-home:hover .text-title{
    transform: translateX(-160%) translateY(400%);
    font-size: 13px;
}
.card-home:hover .text-title-evaluadores{
    transform: translateX(-125%) translateY(400%);
    font-size: 13px;
}
.card-home:hover .text-cent{
    transform: translateX(-20%) translateY(-30%);
}

.card-home:hover .usuarios{
    fill: #116f8b;
}
.card-home:hover .carreras{
    fill: #126d89;
}
.card-home:hover .evaluadores{
    fill: #409079;
}
.card-home:hover .encuestas{
    fill: #5c9c72;
}

/* .bg-card-blue {
    background-color: #168aad;
}

.bg-card-blue-2 {
    background-color: #34a0a4;
}

.bg-card-green {
    background-color: #52b69a;
}

.bg-card-green-2 {
    background-color: #76c893;
} */

.bg-card-blue {
    background: white;
    box-shadow: 0px 0px 10px 1px #c8d3fd;
    fill: #c8d3fd;
}

.bg-card-blue-2 {
    background: white;
    box-shadow: 0px 0px 10px 1px #c8d3fd;
    fill: #c8d3fd;
}

.bg-card-green {
    background: white;
    box-shadow: 0px 0px 10px 1px #c8d3fd;
    fill: #c8d3fd;
}

.bg-card-green-2 {
    background: white;
    box-shadow: 0px 0px 10px 1px #c8d3fd;
    fill: #c8d3fd;
}