/*//////////////////////////////////////////////////////////////////
[ Table ]*/

.limiter {
    width: 100%;
    margin: 0 auto;
}
.container-table100 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.wrap-table100 {
    width: 1170px;
}

table {
    border-spacing: 1;
    border-collapse: collapse;
    background: white;
    border-radius: 10px;
    overflow: hidden;
    width: 100%;
    margin: 0 auto;
    position: relative;
}

table * {
    position: relative;
}

table td,
table th {
    padding-left: 8px;
}

table thead tr {
    height: 60px;
    background: #36304a;
}

table tbody tr {
    height: 50px;
}

table tbody tr:last-child {
    border: 0;
}

table td,
table th {
    text-align: left;
}

table td.l,
table th.l {
    text-align: right;
}

table td.c,
table th.c {
    text-align: center;
}

table td.r,
table th.r {
    text-align: center;
}

.table100-head th {
    font-family: OpenSans-Regular;
    font-size: 18px;
    color: #fff;
    line-height: 1.2;
    font-weight: unset;
}

.table100-head-modal th {
    font-family: OpenSans-Regular;
    font-size: 18px;
    color: #fff;
    line-height: 1.2;
    font-weight: unset;
}

tbody tr:nth-child(even) {
    background-color: #f5f5f5;
}

tbody tr {
    font-family: OpenSans-Regular;
    font-size: 15px;
    color: black;
    line-height: 1.2;
    font-weight: unset;
}

tbody tr:hover {
    color: #555555;
    background-color: #f5f5f5;
    cursor: pointer;
}

.column1 {
    width: 45%;
    text-align: center;
}
.column1-modal {
    width: 70%;
    text-align: center;
}

.column2 {
    width: 15%;
    text-align: center;
}
.column2-modal {
    width: 30%;
    text-align: center;
}
.column2-modal-objetivos-atributos {
    width: 90%;
    text-align: center;
}

.column3 {
    width: 20%;
    text-align: center;
}
.column3-modal {
    width: 15%;
    text-align: center;
}

.column4 {
    width: 20%;
    text-align: center;
}
.column4-modal {
    width: 40%;
    text-align: center;
}

.column5 {
    width: 30%;
    text-align: center;
}
.column5-modal {
    width: 15%;
    text-align: center;
}

.column6 {
    width: 222px;
    text-align: center;
    padding-right: 62px;
}

@media screen and (max-width: 992px) {
    .tabla-general {
        display: block;
    }
    .tabla-general>*,
    .tabla-general tr,
    .tabla-general td,
    .tabla-general th {
        display: block;
    }
    .tabla-general thead {
        display: none;
    }
    .tabla-general tbody tr {
        height: auto;
        padding: 37px 0;
    }
    .tabla-general tbody tr td {
        padding-left: 40% !important;
        margin-bottom: 24px;
        width: 100%;
        align-items: center;
    }
    .tabla-general tbody tr td:last-child {
        margin-bottom: 0;
    }
    .tabla-general tbody tr td:before {
        font-size: 14px;
        color: #999999;
        line-height: 1.2;
        font-weight: unset;
        position: absolute;
        width: 40%;
        left: 30px;
        top: 0;
    }
    .tabla-general tbody tr td:nth-child(1):before {
        content: "Carrera";
    }
    .tabla-general tbody tr td:nth-child(2):before {
        content: "Nombre:";
    }
    .tabla-general tbody tr td:nth-child(3):before {
        content: "Correo";
    }
    .tabla-general tbody tr td:nth-child(4):before {
        content: "Empresa";
    }
    .tabla-general tbody tr td:nth-child(5):before {
        content: "Acciones";
    }
    .tabla-general tbody tr td:nth-child(6):before {
        content: "Total";
    }
    .tabla-general.column1,
    .tabla-general.column2,
    .tabla-general.column3,
    .tabla-general.column4,
    .tabla-general.column5,
    .tabla-general.column6 {
        text-align: center;
    }
    .tabla-general.column4,
    .tabla-general.column5,
    .tabla-general.column6,
    .tabla-general.column1,
    .tabla-general.column2,
    .tabla-general.column3 {
        width: 100%;
    }
    .tabla-general tbody tr {
        font-size: 14px;
    }
}

@media (max-width: 576px) {
    .container-table100 {
        padding-left: 15px;
        padding-right: 15px;
    }
}