.card-stadistics {
    width: 90%;
    height: 150px;
    color: rgb(255, 254, 254);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* grid-template-rows: 1fr 1fr; */
    gap: 5px;
    overflow: visible;
    margin: 20px auto;
}

.card-stadistics .item {
    border-radius: 10px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.item:hover {
    transform: scale(0.95);
    transition: all 0.3s;
}

.item svg {
    width: 40px;
    height: 40px;
    margin-bottom: 7px;
}

.item--1 {
    background: #468faf9c;
}

.item--2 {
    background: #61a5c29c;
}

.item--3 {
    background: #89c2d99c;
}

.item--4 {
    background: #f3bbe1;
}

.quantity {
    font-size: 25px;
    font-weight: 600;
}

.text {
    font-size: 16px;
    font-family: inherit;
    font-weight: 600;
}

.text--1 {
    color: #014f86;
}

.text--2 {
    color: #014f86;
}

.text--3 {
    color: #014f86;
}

.text--4 {
    color: black;
}